<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head  th:replace="_fragments :: head(~{::title})">
  <title>关于我</title>
</head>

<body class="aboutme-bg">

  <!--头部导航-->
  <nav th:replace="_fragments :: menu(5)" ></nav>

  <!--中间内容-->
  <div  class="m-container m-padded-tb-big animated fadeIn">
    <div class="ui container">

      <div class="ui stackable grid">
        <div class="eleven wide column">
          <div class="ui segment">
            <img th:src="@{/images/aboutme.jpg}" alt="" class="ui rounded image" height="600px" width="450px">
          </div>
        </div>

        <div class="five wide column">
          <div class="ui top attached segment">
            <div class="ui header">一个程序猿的自我介绍</div>
          </div>
          <div class="ui attached segment">
            <p class="m-text">陈灿杰/baker，一个地地道道的潮汕人，一个在java的道路上不断前进的程序猿，一个有明确目标的追梦人</p>
            <p class="m-text">喜欢编程，热爱篮球，热爱运动，热爱生活，向往美好的大自然</p>
            <p class="m-text">个人CSDN链接：https://blog.csdn.net/can_chen</p>
            <p class="m-text">座右铭：即使再小的帆，也能远航！</p>
          </div>
          <div class="ui attached segment">
            <div class="ui orange basic left pointing label">编程</div>
            <div class="ui orange basic left pointing label">跑步</div>
            <div class="ui orange basic left pointing label">篮球</div>
            <div class="ui orange basic left pointing label">旅游</div>
          </div>
          <div class="ui attached segment">
            <div class="ui teal basic left pointing label m-margin-tb-tiny">java</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">ssm</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">springboot</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">springcloud</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">docker</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">git</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">linux</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">mysql</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">redis</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
          </div>
          <div class="ui bottom attached segment">
            <a href="#" class="ui qq circular icon button" data-content="https://github.com/git-chen513" data-position="bottom center"><i class="github icon"></i></a>
            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
            <a href="#" class="ui qq circular icon button" data-content="2416871211" data-position="bottom center"><i class="qq icon"></i></a>
          </div>

          <div class="ui wechat-qr flowing popup transition hidden">
            <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt="" class="ui rounded image" style="width: 110px">
          </div>
        </div>
      </div>

    </div>
  </div>

  <br>
  <br>

  <!--底部footer-->
  <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">

  </footer>

  <!--导入的script-->
  <th:block th:replace="_fragments :: script">

  </th:block>

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
      popup : $('.wechat-qr'),
      position: 'bottom center'
    });
    $('.qq').popup();

  </script>
</body>
</html>